<p>E aí, {{ name }}! Tudo bem?</p>
<p>Vimos que você realizou um pedido na nossa geladeirinha e estamos adicionando ela na sua fatura</p>

<p>DETALHES DO PEDIDO</p>
<p>nº do pedido: {{ order.id }}</p>